<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}} - {{.i18n.wide_title}}</title>
        <meta name="keywords" content="Wide, Golang, IDE, Team, Cloud, B3log"/>
        <meta name="description" content="A Web-based IDE for Teams using Golang, do your development anytime, anywrhere."/>
        <meta name="author" content="B3log">
        <meta property="og:description" content="A Web-based IDE for Teams using Golang, do your development anytime, anywhere."/>
        {{if eq $.conf.RuntimeMode "dev"}}
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/jquery-layout/layout-default-latest.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/codemirror.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/hint/show-hint.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/lint/lint.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/foldgutter.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/dialog/dialog.css">
        {{range $index, $theme := .editorThemes}}
        <link rel="stylesheet" href="{{$.conf.StaticServer}}/static/js/overwrite/codemirror/theme/{{$theme}}.css">{{end}}
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/dialog.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/wide.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/side.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/start.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/about.css?{{.conf.StaticResourceVersion}}">
        {{else}}
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/lib.min.css">        
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/wide.min.css?{{.conf.StaticResourceVersion}}">
        {{end}}
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/ztree/zTreeStyle.min.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/user/{{.username}}/style.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/themes/{{.user.Theme}}.css?{{.conf.StaticResourceVersion}}" id="themesLink">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <!-- menu bar -->
        <div class="menu fn-clear">
            <ul class="fn-cleaer">
                <li>
                    <span>{{.i18n.file}}</span>
                    <div class="frame">
                        <ul>     
                            <li class="save-all disabled" onclick="if (!$(this).hasClass('disabled')){menu.saveAllFiles()}">
                                <span class="font-ico ico-save"></span>
                                <span>{{.i18n.save_all_files}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-S</span>
                            </li>
                            <li class="close-all" onclick="menu.closeAllFiles()">
                                <span class="space"></span>
                                <span>{{.i18n.close_all_files}}</span>
                            </li>
                            <li class="hr"></li>
                            <li class="disabled import" onclick="if (!$(this).hasClass('disabled')){$('#importFileupload').click(); }">
                                <span class="ico-import font-ico"></span> {{.i18n.import}}
                            </li>
                            <li class="disabled export" onclick="if (!$(this).hasClass('disabled')){tree.export(this); }">
                                <span class="ico-export font-ico"></span> {{.i18n.export}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="menu.exit()">
                                <span class="font-ico ico-signout"></span>
                                <span>{{.i18n.exit}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.edit}}</span>
                    <div class="frame">
                        <ul>     
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.undo(); wide.curEditor.focus()}">
                                <span class="font-ico ico-undo"></span>
                                <span>{{.i18n.undo}}</span>
                                <span class="fn-right ft-small">Ctrl-Z</span>
                            </li>
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.redo(); wide.curEditor.focus()}">
                                <span class="font-ico ico-redo"></span>
                                <span>{{.i18n.redo}}</span>
                                <span class="fn-right ft-small">Ctrl-Y</span>
                            </li>
                            <li class="hr"></li>
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('selectAll'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.select_all}}</span>
                                <span class="fn-right ft-small">Ctrl-A</span>
                            </li>
                            <li class="edit disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.focus(); wide.curEditor.execCommand('selectIdentifier')}">
                                <span class="space"></span>
                                <span>{{.i18n.select_identifier}}</span>
                                <span class="fn-right ft-small">Shift-Alt-J</span>
                            </li>
                            <li class="hr"></li>
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('gotoLine')}">
                                <span class="ico-goline font-ico"></span>
                                <span>{{.i18n.goto_line}}</span>
                                <span class="fn-right ft-small">Ctrl-L</span>
                            </li>
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('deleteLine'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.delete_line}}</span>
                                <span class="fn-right ft-small">Ctrl-E</span>
                            </li>
                            <li class="hr"></li>
                            <li class="edit disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('copyLinesUp'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.copy_lines_up}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-Up</span>
                            </li>
                            <li class="edit disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('copyLinesDown'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.copy_lines_down}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-Down</span>
                            </li>
                            <li class="edit disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('moveLinesUp'); wide.curEditor.focus()}">
                                <span class="ico-moveup font-ico"></span>
                                <span>{{.i18n.move_lines_up}}</span>
                                <span class="fn-right ft-small">Shift-Alt-Up</span>
                            </li>
                            <li class="edit disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('moveLinesDown'); wide.curEditor.focus()}">
                                <span class="ico-movedown font-ico"></span>
                                <span>{{.i18n.move_lines_down}}</span>
                                <span class="fn-right ft-small">Shift-Alt-Down</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.source}}</span>
                    <div class="frame">
                        <ul>     
                            <li class="format disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.fmt(editors.getCurrentPath(), wide.curEditor); wide.curEditor.focus()}">
                                <span class="ico-format font-ico"></span>
                                <span>{{.i18n.format}}</span>
                                <span class="fn-right ft-small">Ctrl-Shift-F</span>
                            </li>
                            <li class="hr"></li>
                            <li class="autocomplete disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('autocompleteAnyWord'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.autocomplete}}</span>
                                <span class="fn-right ft-small">Ctrl-\</span>
                            </li>
                            <li class="jump-to-decl disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('jumpToDecl'); wide.curEditor.focus()}">
                                <span class="space"></span>
                                <span>{{.i18n.jump_to_decl}}</span>
                                <span class="fn-right ft-small">Ctrl-B</span>
                            </li>
                            <li class="expr-info disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('exprInfo'); wide.curEditor.focus()}">
                                <span class="font-ico ico-info"></span>
                                <span>{{.i18n.show_expr_info}}</span>
                                <span class="fn-right ft-small">Ctrl-I</span>
                            </li>
                            <li class="find-usages disabled"
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('findUsages')}">
                                <span class="space"></span>
                                <span>{{.i18n.find_usages}}</span>
                                <span class="fn-right ft-small">Alt-F7</span>
                            </li>
                            <li class="hr"></li>
                            <li class="toggle-comment disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('toggleComment'); wide.curEditor.focus()}">
                                <span class="ico-comment font-ico"></span>
                                <span>{{.i18n.toggle_comment}}</span>
                                <span class="fn-right ft-small">Ctrl-/</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.find}}</span>
                    <div class="frame">
                        <ul>     
                            <li onclick="$('#dialogGoFilePrompt').dialog('open')">
                                <span class="font-ico ico-find"></span>
                                <span>{{.i18n.goto_file}}</span>
                                <span class="fn-right ft-small">Shift-Alt-O</span>
                            </li>
                            <li class="hr"></li>
                            <li onclick="$('#dialogSearchForm').dialog('open')">
                                <span class="font-ico ico-findfiles"></span>
                                <span>{{.i18n.find_in_files}}</span>
                                <span class="fn-right ft-small">Ctrl-F</span>
                            </li>
                            <li class="hr"></li>
                            <li class="find disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('find'); }">
                                <span class="space"></span>
                                <span>{{.i18n.find}}</span>
                                <span class="fn-right ft-small">Ctrl-F</span>
                            </li>
                            <li class="find-next disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('findNext'); }">
                                <span class="space"></span>
                                <span>{{.i18n.find_next}}</span>
                                <span class="fn-right ft-small">Ctrl-G</span>
                            </li>
                            <li class="find-previous disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('findPrev'); }">
                                <span class="space"></span>
                                <span>{{.i18n.find_previous}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-G</span>
                            </li>
                            <li class="replace disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('replace'); }">
                                <span class="space"></span>
                                <span>{{.i18n.replace}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-F</span>
                            </li>
                            <li class="replace-all disabled" 
                                onclick="if (!$(this).hasClass('disabled')){wide.curEditor.execCommand('replaceAll'); }">
                                <span class="space"></span>
                                <span>{{.i18n.replace_all}}</span>
                                <span class="fn-right ft-small">Shift-Ctrl-R</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.focus}}</span>
                    <div class="frame">
                        <ul>    
                            <li onclick="hotkeys.defaultKeyMap.goEditor.fun()">
                                <span class="ico-editor font-ico"></span>
                                <span>{{.i18n.focus_editor}}</span>
                                <span class="fn-right ft-small">Ctrl-0</span>
                            </li>
                            <li onclick="hotkeys.defaultKeyMap.goFileTree.fun()">
                                <span class="ico-tree font-ico"></span>
                                <span>{{.i18n.focus_file_tree}}</span>
                                <span class="fn-right ft-small">Ctrl-1</span>
                            </li>
                            <li onclick="hotkeys.defaultKeyMap.goOutput.fun()">
                                <span class="space"></span>
                                <span>{{.i18n.focus_output}}</span>
                                <span class="fn-right ft-small">Ctrl-4</span>
                            </li>
                            <li onclick="hotkeys.defaultKeyMap.goSearch.fun()">
                                <span class="space"></span>
                                <span>{{.i18n.focus_search}}</span>
                                <span class="fn-right ft-small">Ctrl-5</span>
                            </li>
                            <li onclick="hotkeys.defaultKeyMap.goNotification.fun()">
                                <span class="ico-notification font-ico"></span>
                                <span>{{.i18n.focus_notification}}</span>
                                <span class="fn-right ft-small">Ctrl-6</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.run}}</span>
                    <div class="frame">
                        <ul>
                            <li class="build disabled" onclick="if (!$(this).hasClass('disabled')){menu.build()}">
                                <span class="font-ico ico-build"></span>
                                <span>{{.i18n.build}}</span>
                                <span class="fn-right ft-small">F5</span>
                            </li>
                            <li class="run disabled" onclick="if (!$(this).hasClass('disabled')){menu.run()}">
                                <span class="font-ico ico-buildrun"></span>
                                <span>{{.i18n.build_n_run}}</span>
                                <span class="fn-right ft-small">F6</span>
                            </li>
                            <li class="hr"></li>
                            <li class="go-test disabled" onclick="if (!$(this).hasClass('disabled')){menu.test()}">
                                <span class="space"></span>
                                <span>{{.i18n.test}}</span>
                            </li>
                            <li class="hr"></li>
                            <li class="go-get disabled" onclick="if (!$(this).hasClass('disabled')){menu.goget()}">
                                <span class="space"></span>
                                <span>{{.i18n.goget}}</span>
                            </li>
                            <li class="go-install disabled" onclick="if (!$(this).hasClass('disabled')){menu.goinstall()}">
                                <span class="space"></span>
                                <span>{{.i18n.goinstall}}</span>
                            </li>
                            <li class="hr"></li>
                            <li class="go-vet disabled" onclick="if (!$(this).hasClass('disabled')){menu.govet()}">
                                <span class="space"></span>
                                <span>{{.i18n.govet}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--
                <li>
                    <span>{{.i18n.debug}}</span>
                    <div class="frame">
                        <ul>
                            <li>
                                <span>{{.i18n.debug}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                -->
                <li>
                    <span>{{.i18n.team}}</span>
                    <div class="frame">
                        <ul>
                            <li class="signup" onclick="window.open('{{.conf.Context}}/signup')">
                                <span class="ico-signup font-ico"></span>
                                <span>{{.i18n.sign_up}}</span>
                            </li>
                            <li class="hr"></li>
                            <li class="git-clone disabled" onclick="if (!$(this).hasClass('disabled')){tree.gitClone(this)}">
                                <span class="ico-git font-ico"></span>
                                <span>{{.i18n.git_clone}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li onclick="menu.openPreference()">
                    <span>{{.i18n.preference}}</span>
                </li>
                <li>
                    <span>{{.i18n.help}}</span>
                    <div class="frame">
                        <ul>
                            <li onclick="window.open('https://www.gitbook.com/book/88250/wide-user-guide')">
                                <span class="font-ico ico-book"></span>
                                <span>{{.i18n.wide_doc}}</span>
                            </li>                            
                            <li onclick="window.open('https://github.com/b3log/wide/issues/new')">
                                <span class="ico-report font-ico"></span>
                                {{.i18n.issues}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="window.open('{{.conf.Context}}/keyboard_shortcuts')">
                                <span class="ico-keyboard font-ico"></span>
                                {{.i18n.keyboard_shortcuts}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="window.open('{{.conf.Context}}/playground')">
                                <span class="space"></span>
                                Playground
                            </li>
                            <li class="hr"></li>
                            <li onclick="window.open('http://b3log.org/services')">
                                <span class="font-ico ico-price"></span>
                                <span>{{.i18n.pricing}}</span>
                            </li>
                            <li onclick="editors.openStartPage()">
                                <span class="font-ico ico-start"></span>
                                <span>{{.i18n.start_page}}</span>
                            </li>
                            <li onclick="window.open('http://pan.baidu.com/s/1dD3XwOT')">
                                <span class="space"></span>
                                <span>{{.i18n.download}}</span>
                            </li>
                            <li onclick="menu.openAbout()">
                                <span class="font-ico ico-about"></span>
                                <span>{{.i18n.about}}</span>
                            </li>
                        </ul>
                    </div>                    
                </li>
            </ul>
            <span class="split"></span>
            <span id="buildRun" onclick="menu.run()" class="font-ico ico-buildrun" title="{{.i18n.build_n_run}}"></span>

            <div class="fn-right">
                <img class="gravatar"
                     onerror="this.src='{{.conf.StaticServer}}/static/images/user-thumbnail.png'"
                     src="https://secure.gravatar.com/avatar/{{.user.Gravatar}}?s=17&d=https://hacpai.com/images/user-thumbnail.png" 
                     title="{{.user.Name}}"/>
                <span class="font-ico ico-share"></span> &nbsp;
                <span onclick="window.open('https://github.com/b3log/wide')"
                      class="font-ico ico-github"></span>&nbsp;
                <div class="share-panel frame">
                    <span title="Email" class="font-ico ico-email"></span>
                    <span title="Twitter" class="font-ico ico-twitter"></span>
                    <span title="Facebook" class="font-ico ico-facebook"></span>
                    <span title="G+" class="font-ico ico-googleplus"></span>
                    <span title="微博" class="font-ico ico-weibo"></span>
                    <span title="腾讯微博" class="font-ico ico-tencent"></span>
                </div>
            </div>
        </div>

        <div class="side">
            <span title="{{.i18n.min}}" class="font-ico ico-min"></span>
            <div class="tabs">
                <div class="current" data-index="fileTree">
                    <span title="{{.i18n.file}}">{{.i18n.file}}</span>
                </div>
            </div> 
            <div class="tabs-panel">
                <div data-index="fileTree">
                    <ul id="files" class="ztree" tabindex="-1"></ul>
                    <input id="importFileupload" class="fn-none" type="file"
                           name="files[]" onclick="tree.import();" multiple>
                    <!-- directory context menu -->
                    <div id="dirRMenu" class="frame">
                        <ul>
                            <li class="create" onclick="tree.newFile(this);">
                                <span class="space"></span> {{.i18n.create_file}}
                            </li>
                            <li class="create" onclick="tree.newDir(this);">
                                <span class="space"></span> {{.i18n.create_dir}}
                            </li>
                            <li class="remove" onclick="tree.removeIt(this);">
                                <span class="ico-remove font-ico"></span> {{.i18n.delete}}
                            </li>
                            <li class="remove" onclick="tree.rename(this);">
                                <span class="space"></span> {{.i18n.rename}}
                            </li>
                            <li class="hr"></li>
                            <li class="find" onclick="$('#dialogSearchForm').dialog('open');">
                                <span class="font-ico ico-findfiles"></span> {{.i18n.find_in_files}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="tree.refresh(this);">
                                <span class="ico-refresh font-ico"></span> {{.i18n.refresh}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="tree.gitClone(this);">
                                <span class="ico-git font-ico"></span> {{.i18n.git_clone}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="$('#importFileupload').click();">
                                <span class="ico-import font-ico"></span> {{.i18n.import}}
                            </li>
                            <li onclick="tree.export();">
                                <span class="ico-export font-ico"></span> {{.i18n.export}}
                            </li>
                        </ul>
                    </div>

                    <!-- file context menu -->
                    <div id="fileRMenu" class="frame">
                        <ul>
                            <li class="open" onclick="tree.openFile(wide.curNode);">
                                <span class="space"></span> {{.i18n.open}}
                            </li>
                            <li class="remove" onclick="tree.removeIt(this);">
                                <span class="ico-remove font-ico"></span> {{.i18n.delete}}
                            </li>
                            <li class="remove" onclick="tree.rename(this);">
                                <span class="space"></span> {{.i18n.rename}}
                            </li>
                            <li class="hr"></li>
                            {{range .crossPlatforms}}
                            {{if eq . "darwin_amd64" "linux_amd64" "windows_amd64" "linux_arm"}}
                            <li class="{{.}}" onclick="tree.crossCompile('{{.}}');">
                                <span class="space"></span> {{.}}
                            </li>
                            {{end}}                                
                            {{end}}
                            <li class="hr"></li>
                            <li class="export" onclick="tree.export(this);">
                                <span class="ico-export font-ico"></span> {{.i18n.export}}
                            </li>
                            <li class="decompress" onclick="tree.decompress(this);">
                                <span class="space"></span> {{.i18n.decompress}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="side-right">
                <span title="{{.i18n.min}}" class="font-ico ico-min"></span>
                <div class="tabs">
                    <div class="current" data-index="outline">
                        <span title="{{.i18n.outline}}">{{.i18n.outline}}</span>
                    </div>
                </div> 
                <div class="tabs-panel">
                    <div id="outline" data-index="outline"></div>
                </div>
            </div>

            <div class="edit-panel">
                <div class="toolbars">
                    <span class="font-ico ico-max" title="{{.i18n.max_editor}}"></span>
                </div>
                <div class="frame">
                    <ul>
                        <li onclick="editors.close()" title="{{.i18n.close}}">
                            <span>{{.i18n.close}}</span>
                        </li>    
                        <li onclick="menu.closeAllFiles()" title="{{.i18n.close_all_files}}">
                            <span>{{.i18n.close_all_files}}</span>
                        </li>    
                        <li onclick="editors.closeOther()" title="{{.i18n.close_other}}">
                            <span>{{.i18n.close_other}}</span>
                        </li>
                        <li class="hr"></li>
                        <li id="copyFilePath" title="{{.i18n.copy_file_path}}">
                            <span>{{.i18n.copy_file_path}}</span>
                        </li>    
                    </ul>
                </div>
                <div class="tabs"></div>
                <div class="tabs-panel"></div>
            </div>

            <div class="bottom-window-group">
                <span title="{{.i18n.min}}" class="font-ico ico-min"></span>
                <div class="frame">
                    <ul>
                        <li onclick="bottomGroup.clear('output')" title="{{.i18n.clear}}">
                            <span>{{.i18n.clear}}</span>
                        </li>   
                    </ul>
                </div>
                <div class="tabs">
                    <div class="current" data-index="output">
                        <span title="{{.i18n.output}}">{{.i18n.output}}</span>
                    </div>
                    <div data-index="search">
                        <span title="{{.i18n.search}}">{{.i18n.search}}</span>
                    </div>
                    <div data-index="notification">
                        <span title="{{.i18n.notification}}">{{.i18n.notification}}</span>
                    </div>
                </div>
                <div class="tabs-panel">
                    <div data-index="output">
                        <div class="output" tabindex="-1"><div></div></div>
                    </div>
                    <div class="fn-none" data-index="search">
                        <div class="search" tabindex="-1">
                            <div class="tabs fn-none">
                                <div class="current" data-index="first">
                                    <span class="first"></span><span class="ico-close font-ico"></span>
                                </div>
                            </div>
                            <div class="tabs-panel">
                                <div data-index="first"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fn-none" data-index="notification">
                        <div class="notification" tabindex="-1"><table cellpadding="0" cellspacing="0"></table></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer fn-clear">
            <div class="fn-right">
                <span class="cursor"></span>
                <span class="notification-count" title="{{.i18n.unread_notification}}">{{.i18n.notification}}</span>
            </div>
        </div>

        <div id="dialogRemoveConfirm" class="fn-none">
            {{.i18n.delete}} <b></b>?
        </div>
        <div id="dialogAlert" class="fn-none"></div>
        <div id="dialogAbout" class="fn-none"></div>
        <div id="dialogPreference" class="fn-none"></div>
        <div id="dialogNewFilePrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogRenamePrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogNewDirPrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogGoLinePrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogGitClonePrompt" class="dialog-prompt fn-none">
            <input placeholder="https://github.com/b3log/wide.git"/>
        </div>
        <div id="dialogGoFilePrompt" class="dialog-prompt fn-none">
            <input/>
            <ul class="list"></ul>
        </div>
        <div id="dialogSearchForm" class="dialog-form fn-none">
            <input placeholder="{{.i18n.keyword}}" />
            <input placeholder="{{.i18n.file_format}}" />
        </div>
        <div id="dialogCloseEditor" class="dialog-form fn-none">
            <div></div><br/>
            <div class="fn-right">
                <button class="save">{{.i18n.save}}</button>
                <button class="discard">{{.i18n.discard}}</button>
                <button class="cancel">{{.i18n.cancel}}</button>
            </div>
        </div>
        <script>
            var config = {
            "context": {{.conf.Context}},
                    "staticServer": '{{.conf.StaticServer}}',
                    "pathSeparator": '{{.pathSeparator}}',
                    "label": {{.i18n}},
                    "channel": {{.conf.Channel}},
                    "wideSessionId": '{{.sid}}',
                    "editorTheme": '{{.user.Editor.Theme}}',
                    "latestSessionContent": {{.latestSessionContent}},
                    "editorTabSize": '{{.user.Editor.TabSize}}',
                    "keymap": '{{.user.Keymap}}',
                    "autocomplete": {{.conf.Autocomplete}}
            };
            // 发往 Wide 的所有 AJAX 请求需要使用该函数创建请求参数.
            function newWideRequest() {
            var ret = {
            sid: config.wideSessionId
            };
            return ret;
            }

        </script>
        {{if eq $.conf.RuntimeMode "dev"}}
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-layout/jquery.layout-latest.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/ztree/jquery.ztree.all-3.5.min.js"></script>    
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/Autolinker.min.js"></script>    
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/codemirror.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/lint/lint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/lint/json-lint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/overwrite/codemirror/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/hint/anyword-hint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/display/rulers.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/edit/closebrackets.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/edit/matchbrackets.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/edit/closetag.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/search/searchcursor.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/search/search.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/dialog/dialog.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/search/match-highlighter.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/foldcode.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/foldgutter.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/brace-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/xml-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/markdown-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/fold/comment-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/mode/loadmode.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/addon/comment/comment.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/meta.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/go/go.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/clike/clike.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/xml/xml.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/markdown/markdown.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/css/css.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/shell/shell.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/mode/sql/sql.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-{{.codeMirrorVer}}/keymap/vim.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/lint/json-lint.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/lint/go-lint.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/emmet.js?{{.conf.StaticResourceVersion}}"></script>            
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/js-beautify-1.5.4/beautify.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/js-beautify-1.5.4/beautify-html.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/js-beautify-1.5.4/beautify-css.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-file-upload-9.8.0/vendor/jquery.ui.widget.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-file-upload-9.8.0/jquery.iframe-transport.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-file-upload-9.8.0/jquery.fileupload.js?{{.conf.StaticResourceVersion}}"></script>

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/tabs.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/dialog.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/editors.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/notification.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/tree.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/wide.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/session.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/menu.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/windows.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/hotkeys.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/bottomGroup.js?{{.conf.StaticResourceVersion}}"></script>
        {{else}}
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/wide.min.js?{{.conf.StaticResourceVersion}}"></script>
        {{end}}
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/ztree/jquery.ztree.all-3.5.min.js"></script> 
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/zeroclipboard/ZeroClipboard.min.js"></script>
    </body>
</html>
