<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.i18n.wide}} - {{.i18n.wide_title}}</title>

    <meta name="keywords" content="Wide, Golang, IDE, Cloud, B3log, Login"/>
    <meta name="description" content="A Web-based Go IDE , do your development anytime, anywhere."/>
    <meta name="author" content="B3log">

    <link rel="stylesheet" href="/static/css/base.css?{{.conf.StaticResourceVersion}}">
    <link rel="stylesheet" href="/static/css/sign.css?{{.conf.StaticResourceVersion}}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    {{if ne "" .conf.SiteStatCode}}
        {{.conf.SiteStatCode}}
    {{end}}
</head>
<body>
<div class="header">
    <div class="wrapper fn-clear">
        <a href="/login" rel="login" style="flex:1">
            <img title="A Web-based Go IDE" src="/static/images/wide-logo.png" class="logo"/></a>
        <ul>
            <li><a href="/playground" target="_blank" style="color: #cd504a">Play</a></li>
            <li><a rel="bookmark" href="https://github.com/b3log/wide" target="_blank">GitHub</a></li>
            <li><a rel="help" href="https://hacpai.com/article/1538873544275" target="_blank">{{.i18n.help}}</a></li>
            <li><a rel="bookmark" href="https://hacpai.com" target="_blank">{{.i18n.community}}</a></li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="wrapper fn-clear">
        <div class="fn-left">
            <h2>Hello, 世界</h2>
            <h3>Coding with Go on the Wide way.</h3>
        </div>
        <div class="form fn-right">
            <div style="text-align: center"><a href="https://hacpai.com/article/1558097702072" target="_blank">2019-05-17 关于账号迁移的公告</a></div>
            <div class="login__github oauth"></div>
            <img style="display: none" src="/static/images/github.gif"/>
            <button class="btn oauth">登录 GitHub 账号后即可开始使用</button>
            <div class="desc">
                <label class="checkbox">
                    <input type="checkbox" checked />
                    是否愿意在 GitHub 上收藏该<a href="https://github.com/b3log/wide" target="_blank">项目</a>、关注<a
                        href="https://github.com/88250" target="_blank">开发者</a>并加入 <a
                        href="https://github.com/b3log" target="_blank">B3log
                    开源组织</a>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="footer">
            <span class="wrapper">
                Ver {{.ver}}, &copy; {{.year}}&nbsp;<a rel="copyright" href="https://b3log.org" target="_blank">B3log 开源</a>
            </span>
</div>
<script type="text/javascript" src="/static/js/lib/jquery-2.1.1.min.js"></script>
<script>
  $('.oauth').click(function () {
    window.location.href = '/oauth/github/redirect?state=' + ($('input').prop('checked') ? '0' : '1')
  })
</script>
</body>
</html>
