<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}}</title>
        
        <meta name="keywords" content="Wide, Golang, IDE, Team, Cloud, B3log, Shell"/>
        <meta name="description" content="A Web-based IDE for Teams using Golang, do your development anytime, anywhere."/>
        <meta name="author" content="B3log">
        
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/shell.css?{{.conf.StaticResourceVersion}}">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <input id="shellInput" placeholder="Command..."/>

        <div>
            <textarea id="shellOutput" rows="40" ></textarea>
        </div>

        <script type="text/javascript">
            var config = {
            channel: {
            shell: '{{.conf.ShellChannel}}'
            },
                    wideSessionId: {{.sid}}
            };</script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>


        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/shell.js?{{.conf.StaticResourceVersion}}"></script>        
    </body>
</html>
