<div class="fn-clear">
    <ul class="details">
        <li class="title">Wide</li>
        <li>
            <label>{{.i18n.current_user}}{{.i18n.colon}}</label>
            {{.username}}
        </li>
        <li>
            <label>{{.i18n.current_session}}{{.i18n.colon}}</label>
            {{.sid}}
        </li>
        <li class="border workspace">
            <label>{{.i18n.workspace}}{{.i18n.colon}}</label>
            <span>{{.workspace}}</span>
        </li>
        <li class="border">
            <label><a href="https://www.gitbook.com/book/88250/wide-user-guide" target="_blank">{{.i18n.user_guide}}</a></label>&nbsp;&nbsp;&nbsp;&nbsp;&amp;&nbsp;&nbsp;&nbsp;
            <label><a href="https://www.gitbook.com/book/88250/wide-dev-guide" target="_blank">{{.i18n.dev_guide}}</a></label>
        </li>
        <li>
            <label>{{.i18n.current_ver}}{{.i18n.colon}}</label> 
            {{.ver}}<br/>
            <label>{{.i18n.project_address}}{{.i18n.colon}}</label>
            <a href="https://github.com/b3log/wide" target="_blank">github.com/b3log/wide</a><br/>
            <label>{{.i18n.dev_team}}{{.i18n.colon}}</label>
            <a href="https://github.com/b3log/b3log-solo/wiki/About_us" target="_blank">B3log</a>
        </li>
        <li>
            <label>{{.i18n.donate}}{{.i18n.colon}}</label>
            <a href="http://b3log.org/donate.html" target="_blank">b3log.org/donate.html</a>
        </li>
    </ul>

    <div class="news">
    </div>
</div>
