/* start reset & function */
body {
    font-size: 13px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-none {
    display: none;
}
/* end reset & function */

/* start framework */
.menu {
    border-bottom: 1px solid #DDD;
}

.content {
    position: relative;
}

.side {
    width: 20%;
    position: absolute;
    border-right: 1px solid #DDD;
    height: 100%;
}

.ztree {
    position: absolute;
    overflow: auto;
    width: 100%;
    padding: 0;
}

.main {
    width: 80%;
    position: absolute;
    left: 20%;
}

.edit-panel {
    border-bottom: 1px solid #ddd;
    width: 100%
}

.footer {
    border-top: 1px solid #DDD;
}
/* end framework */

/* start output */
#output {
	width: 100%;
}
/* end output */


















#dirRMenu, #fileRMenu {
    position: absolute;
    border: 1px solid #DDD;
    background-color: #444;
    color: #FFF;
}

#dirRMenu li, #fileRMenu li {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}
/* start tabs */
.tabs {
    height: 20px;
    overflow: hidden;
    width: 97%;
}

.tabs > div {
    background-color: #FFF;
    float: left;
    border-left: 1px solid #DDD;
    padding: 2px 5px;
}

.tabs > div.current {
    background-color: #EEEEEE;
}

.tabs .ico-close {
    cursor: pointer;
}
/* end tabs */