/* start reset & function */
body {
    font-size: 13px;
    margin: 0;
    color: #000;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-none {
    display: none;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?35cb2z');
    src:url('fonts/icomoon.eot?#iefix35cb2z') format('embedded-opentype'),
        url('fonts/icomoon.woff?35cb2z') format('woff'),
        url('fonts/icomoon.ttf?35cb2z') format('truetype'),
        url('fonts/icomoon.svg?35cb2z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-ico {
    font-family: 'icomoon';
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}

.font-ico:hover {
    color: #333;
}

.ico-play:before {
    content: "\e605";
}

.ico-save:before {
    content: "\f0c7";
}

.ico-max:before {
    content: "\f096";
}

.ico-format:before {
    content: "\e60b";
}

.ico-buildrun:before {
    content: "\e607";
}

.ico-stop:before {
    content: "\e608";
}

.ico-restore:before {
    content: "\e60c";
}

.ico-min:before {
    content: "\e60d";
    position: absolute;
    right: 5px;
}

.ico-close:before {
    content: "\e60a";
}
/* end reset & function */

/* start frame */
.frame {
    position: absolute;
    border: 1px solid #5F5F5F;
    background-color: #F8F8F8;
    width: 320px;
    z-index: 21;
    display: none;
}

.frame li {
    padding: 0 5px;
    line-height: 25px;
    cursor: pointer;
}

.frame li:hover {
    background-color: #3875D7;
    color: #FFF;
}

.frame a {
    color: #000;
    text-decoration: none;
}

.frame li:hover a,
.frame a:hover {
    color: #FFF;
}

.frame .hr {
    background-color: #bdbdbd;
    height: 1px;
    margin: 0 1px;
}
/* end frame */

/* start tabs */
.tabs {
    height: 20px;
    overflow: hidden;
    width: 100%;
    background-color: #E6E6E6;
    border-top: 1px solid #A4A4A4;
    border-bottom: 1px solid #9D9D9D;
}

.tabs > div {
    float: left;
    line-height: 18px;
    height: 18px;
    padding: 0 5px;
    cursor: pointer;
    background-color: #DDD;
    color: #8B8B8B;
    border-right: 1px solid #ADADAD;
}

.tabs > div.current {
    background-color: #9F9F9F;
    color: #FFF;
}
/* end tabs */

/* start framework */
.content {
    position: relative;
    overflow: hidden;
}
/* end framework */

/* start menu */
.menu {
    background-color: #F0F0F0;
    height: 24px;
}

.menu > ul > li {
    float: left;
}

.menu > ul > li > a,
.menu > ul > li > span {
    color: #000;
    font-size: 12px;
    line-height: 24px;
    padding: 5px;
    text-decoration: none;
}
/* end menu */

/* start editor */
.edit-panel {
    width: 80%;
    position: absolute;
    left: 20%;
    background-color: #D7D7D7;
    width: 80%;
    height: 70%;
    overflow: hidden;
}

.edit-panel .tabs > div {
    background-color: #d1d1d1;
    border-right-color: #9b9b9b;
    color: #333;
    cursor: auto;
}

.edit-panel .tabs > div.current {
    background-color: #F7F7F7;
}

.toolbars {
    position: absolute;
    right: 5px;
    top: 1px;
}

.edit-panel .tabs .ico {
    background-image: url("../images/ico-file.png");
    float: left;
    height: 16px;
    margin: 2px 0 0 -2px;
    width: 16px;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
/* end editor */

/* start bottom-window-group */
.bottom-window-group {
    width: 80%;
    position: absolute;
    left: 20%;
    width: 80%;
    height: 30%;
    top: 70%;
    z-index: 7;
    background-color: #fff;
}

.bottom-window-group-max {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
}

.bottom-window-group textarea.output {
    border-width: 0;
    background-color: #FFF;
    color: #555555;
    width: 100%;
}

.bottom-window-group .notification,
.bottom-window-group .search {
    overflow: auto;
}

.bottom-window-group .notification > table {
    width: 100%;
}

.bottom-window-group .notification td {
    border-bottom: 1px solid #DDD;
    line-height: 20px;
}

.bottom-window-group .notification .type,
.bottom-window-group .notification .severity {
    width: 50px;
    padding: 0 5px;
}
/* end bottom-window-group */

/* start footer */
.footer {
    border-top: 1px solid #919191;
    background-color: #F0F0F0;
    padding-left: 5px;
    height: 19px;
    line-height: 18px;
}

.footer .cursor {
    cursor: pointer;
}

.notification-count {
    float: right;
    display: none;
    cursor: pointer;
}
/* end footer */
