/* start tree */
.ztree {
    position: absolute;
    overflow: auto;
    width: 100%;
    padding: 0;
}

.ztree li a.curSelectedNode {
    background-color: #3875d7;
    border-width: 0;
    color: #fff;
    height: 18px;
}

.ztree li a:hover {
    text-decoration: none;
}

.ztree li > a > span.button,
.ztree li > a > span.button.ico-ztree-dir {
    margin-right: 2px;
}

.ztree li > a > span.button {
    background-image: url("../images/ico-file.png");
    margin-right: 0;
}

.ico-ztree-dir {
    background-position: -2px -23px;
}

.ico-ztree-html {
    background-position: -4px -2px;
}

.ico-ztree-go {
    background-position: -22px -2px;
}

.ico-ztree-css {
    background-position: -42px -2px;
}

.ico-ztree-img {
    background-position: -63px -2px;
}

.ico-ztree-other {
    background-position: -83px -2px;
}

.ico-ztree-text {
    background-position: -103px -2px;
}

.ico-ztree-sql {
    background-position: -123px -2px;
}

.ico-ztree-pro {
    background-position: -142px -2px;
}

.ico-ztree-md {
    background-position: -162px -2px;
}

.ico-ztree-js {
    background-position: -182px -2px;
}

.ico-ztree-xml {
    background-position: -202px -2px;
}
/* end tree */