#startPage {
    font-size: 15px;
    padding: 30px 70px;
    line-height: 28px;
}

#startPage a {
    color: #4183c4;
    text-decoration: none;
}

#startPage a:hover {
    text-decoration: underline;
}

#startPage .title {
    background-color: #f5f5f5;
    border-bottom-width: 0 !important;
    border-radius: 3px 3px 0 0;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#startPage .details {
    width: 30%;
    float: left;
}

#startPage .details label {
    color: #666;
}

#startPage .details li.border {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

#startPage .news {
    height: 300px;
    width: 60%;
    float: right;
    border-left: 1px solid #f1f1f1;
    margin-left: 10%;
    padding-left: 10%;
}

#startPage .news li {
    border-bottom: 1px solid #f1f1f1;
}

#startPage .date {
    color: #bbb;
    font-size: 13px;
}