body,
input,
button {
    font-family: {{.user.FontFamily}};
    font-size: {{.user.FontSize}};
}

.edit-exprinfo,
.CodeMirror,
.CodeMirror-hints {
    font-family: {{.user.Editor.FontFamily}};
    font-size: {{.user.Editor.FontSize}};
    line-height: {{.user.Editor.LineHeight}};
}