body,
input,
button {
    font-family: {{.user.FontFamily}};
}

.edit-exprinfo,
.CodeMirror,
.CodeMirror-hints {
    font-family: {{.user.Editor.FontFamily}};
    font-size: {{.user.Editor.FontSize}};
}