body,
input,
button {
    font-family: Helvetica;
    font-size: 13px;
}

.edit-exprinfo,
.CodeMirror,
.CodeMirror-hints {
    font-family: Consolas, 'Courier New', monospace;
    font-size: inherit;
}