<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}} - {{.i18n.about}}</title>
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/about.css?{{.conf.StaticResourceVersion}}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        about
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
    </body>
</html>
