<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}}</title>
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/show-hint.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/lint.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/fullscreen.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldgutter.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/theme/lesser-dark.css">

        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/ztree/zTreeStyle.css">

        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/css/base.css?{{.Wide.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/css/side.css?{{.Wide.StaticResourceVersion}}">
    </head>
    <body>
        <!-- 主菜单 -->
        <div class="menu fn-clear">
            <ul class="fn-cleaer">
                <li>
                    <span>{{.i18n.file}}</span>
                    <div class="frame">
                        <ul>
                            <li onclick="wide.saveFile()">
                                <span>{{.i18n.save}}</span>
                            </li>                            
                            <li onclick="wide.saveAllFiles()">
                                <span>{{.i18n.save_all_files}}</span>
                            </li>
                            <li class="hr"></li>
                            <li onclick="wide.closeFile()">
                                <span>{{.i18n.close_file}}</span>
                            </li>
                            <li onclick="wide.closeAllFiles()">
                                <span>{{.i18n.close_all_files}}</span>
                            </li>
                            <li class="hr"></li>
                            <li onclick="wide.exit()">
                                <span>{{.i18n.exit}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.run}}</span>
                    <div class="frame">
                        <ul>
                            <li onclick="wide.run()">
                                <span>{{.i18n.build_n_run}}</span>
                            </li>
                            <li class="hr"></li>
                            <li onclick="wide.goget()">
                                <span>{{.i18n.goget}}</span>
                            </li>
                            <li onclick="wide.goinstall()">
                                <span>{{.i18n.goinstall}}</span>
                            </li>      
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.debug}}</span>
                    <div class="frame">
                        <ul>
                            <li>
                                <span>{{.i18n.debug}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.help}}</span>
                    <div class="frame">
                        <ul>
                            <li onclick="window.open('/doc/{{.locale}}/index.html')">
                                <span>{{.i18n.wide_doc}}</span>
                            </li>                            
                            <li onclick="window.open('https://github.com/b3log/wide/issues/new')">
                                {{.i18n.report_issues}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="window.open('/doc/{{.locale}}/index.html')">
                                <span>{{.i18n.start_page}}</span>
                            </li>
                            <li onclick="window.open('/doc/{{.locale}}/index.html')">
                                <span>{{.i18n.about}}</span>
                            </li>
                        </ul>
                    </div>                    
                </li>
            </ul>

            <div class="toolbars fn-right">
                <span onclick="wide.run()" class="font-ico icon-buildrun" title="{{.i18n.build_n_run}}"></span>
                <span onclick="wide.saveFile()" title="{{.i18n.save}}" class="font-ico ico-save"></span>
                <span onclick="wide.fmt()" class="ico-format font-ico" title="{{.i18n.format}}"></span>
                <span class="fn-none font-ico ico-fullscreen" onclick="editors.fullscreen()" title="{{.i18n.full_screen}}"></span>
            </div>
        </div>

        <div class="content">
            <div class="side">
                <div class="side-1">
                    <ul id="files" tabindex="-1" class="ztree"></ul>

                    <!-- 目录右键菜单 -->
                    <div id="dirRMenu" class="frame">
                        <ul>
                            <li onclick="tree.newFile();">{{.i18n.create_file}}</li>
                            <li onclick="tree.newDir();">{{.i18n.create_dir}}</li>
                            <li onclick="tree.removeIt();">{{.i18n.delete}}</li>
                        </ul>
                    </div>

                    <!-- 文件右键菜单 -->
                    <div id="fileRMenu" class="frame">
                        <ul>
                            <li onclick="tree.removeIt();">{{.i18n.delete}}</li>
                        </ul>
                    </div>
                </div>
                <div class="side-2">
                </div>
            </div>

            <div class="main">
                <div class="edit-panel">
                    <div class="edit-header fn-clear">
                        <div class="tabs fn-left"></div>
                    </div>
                    <div class="tabs-panel"></div>
                </div>

                <div class="output">
                    <div class="tabs">
                        <div class="current" data-index="files_3">
                            <span title="Output">Output</span>
                        </div>
                    </div>
                    <div class="tabs-panel">
                        <textarea id="output"></textarea>
                    </div>
                </div>



                <textarea id="notification"></textarea>
            </div>
        </div>

        <div class="footer">
            <span>|</span>
            <span id="footer-cursor" style="float: right;"></span>
        </div>

        <script type="text/javascript">
                    var config = {
                    channel: {
                    editor: '{{.Wide.EditorChannel}}',
                            shell: '{{.Wide.ShellChannel}}',
                            output: '{{.Wide.OutputChannel}}'
                    }
                    };</script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/ztree/jquery.ztree.all-3.5.min.js"></script>                
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/underscore.string-2.3.3/underscore.string.min.js"></script>

        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/lint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/json-lint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/anyword-hint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/fullscreen.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/rulers.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/closebrackets.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/matchbrackets.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/closetag.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/search/searchcursor.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/search/match-highlighter.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldcode.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldgutter.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/brace-fold.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/xml-fold.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/markdown-fold.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/comment-fold.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/go/go.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/xml/xml.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/markdown/markdown.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/css/css.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/shell/shell.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/sql/sql.js"></script>

        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lint/json-lint.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lint/go-lint.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/tabs.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/editor.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/notification.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/tree.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/wide.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/menu.js?{{.Wide.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/hotkeys.js?{{.Wide.StaticResourceVersion}}"></script>
    </body>
</html>
