<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}}</title>
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/show-hint.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/fullscreen.css">
        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/theme/lesser-dark.css">

        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/js/lib/ztree/zTreeStyle.css">

        <link rel="stylesheet" href="{{.Wide.StaticServer}}/static/css/base.css">
    </head>
    <body>
        <div class="content">
            <div class="side">
                <ul id="files" class="ztree"></ul>

                <!-- 目录右键菜单 -->
                <div id="dirRMenu" class="fn-none">
                    <ul>
                        <li onclick="tree.newFile();">create file....</li>
                        <li onclick="tree.newDir();">create dir....</li>
                        <li onclick="tree.removeIt();">delete it....</li>
                    </ul>
                </div>

                <!-- 文件右键菜单 -->
                <div id="fileRMenu" class="fn-none">
                    <ul>
                        <li onclick="tree.removeIt();">delete it....</li>
                    </ul>
                </div>
            </div>


            <div class="edit-panel">
                <div class="edit-header fn-clear">
                    <div class="tabs fn-left"></div>
                    <span class="fn-none fn-right ico-fullscreen" onclick="editors.fullscreen()">全屏</span>
                </div>
                <div class="tabs-panel"></div>
            </div>
        </div>

        <div>
            <button id="saveBtn" onclick="wide.save()">Save</button>
            <button id="fmtBtn" onclick="wide.fmt()">Format</button>
            <button id="runBtn" onclick="wide.run()">Build & Run</button>
        </div>

        <div>
            <textarea id="output" class="output" rows="7"></textarea>
			
            <div class="shell">
                <div>
                    <input id="shellInput" class="shellInput" placeholder=" Command...." />
                </div>

                <textarea id="shellOutput" class="shellOutput" rows="8"></textarea>
            </div>
			
			<a href="/doc/{{.locale}}/index.html" target="_blank">Help</a>
        </div>

        <script type="text/javascript">
            var config = {
                channel: {
                    editor: '{{.Wide.EditorChannel}}',
                    shell: '{{.Wide.ShellChannel}}',
                    output: '{{.Wide.OutputChannel}}'
                }
            };
        </script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/ztree/jquery.ztree.all-3.5.min.js"></script>

        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/anyword-hint.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/fullscreen.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/go/go.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/xml/xml.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/markdown/markdown.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/css/css.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/shell/shell.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/lib/codemirror-4.5/mode/sql/sql.js"></script>

        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/tabs.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/editor.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/tree.js"></script>
        <script type="text/javascript" src="{{.Wide.StaticServer}}/static/js/wide.js"></script>
    </body>
</html>
