<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}}</title>
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/shell.css?{{.conf.StaticResourceVersion}}">
    </head>
    <body>
        <input id="shellInput" placeholder="Command..."/>

        <div>
            <textarea id="shellOutput" rows="40" ></textarea>
        </div>

        <script type="text/javascript">
            var config = {
                channel: {
                    shell: '{{.conf.ShellChannel}}'
                },
                wideSessionId: {{.session.Id}}
            };
        </script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>


        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/shell.js?{{.conf.StaticResourceVersion}}"></script>        
    </body>
</html>
