<div class="fn-clear">
    <ul class="details">
        <li class="title">Wide</li>
        <li>
            <label>{{.i18n.username}}</label>
            {{.username}}
        </li>
        <li class="border">
            <label>{{.i18n.workspace}}</label>
            {{.username}}
        </li>
        <li>
            <label>{{.i18n.user_guide}}</label> <br/>
            <a href="http://88250.gitbooks.io/wide-user-guide" target="_blank">88250.gitbooks.io/wide-user-guide</a>
        </li>
        <li class="border">
            <label>{{.i18n.dev_guide}}</label><br/>
            <a href="http://88250.gitbooks.io/wide-dev-guide" target="_blank">88250.gitbooks.io/wide-dev-guide</a>
        </li>
        <li>
            <label>{{.i18n.ver}}</label> {{.ver}}<br/>
            <label>{{.i18n.dev_team}}</label> 
            <a href="https://github.com/b3log/b3log-solo/wiki/About_us" target="_blank">B3log</a><br/>
            <label>{{.i18n.project_address}}</label> 
            <a href="https://github.com/b3log/wide" target="_blank">github.com/b3log/wide</a>
        </li>
        <li>
            <label>{{.i18n.donate}}</label>
            <a href="http://b3log.org/donate.html" target="_blank">b3log.org/donate.html</a>
        </li>
    </ul>

    <div class="news">
    </div>
</div>
