<div class="fn-clear">
    <ul class="details">
        <li>
            {{.i18n.username}} {{.username}}
        </li>
        <li>
            {{.i18n.user_guide}} http://88250.gitbooks.io/wide-user-guide
        </li>
        <li>
            {{.i18n.dev_guide}} http://88250.gitbooks.io/wide-user-guide
        </li>
        <li>
            Wide
            {{.i18n.ver}} {{.ver}}
            {{.i18n.dev_team}}
        </li>
        <li>
            {{.i18n.donate}} http://b3log.org/donate.html
        </li>
    </ul>

    <div class="news">
        aaa
    </div>
</div>
